---
title: "Software"
---

{% assign subcollections = "Games,Utility,Simulation & Math" | split: ',' %}

{% for subcollection in subcollections %}
<h2>{{subcollection}}</h2>
    {% assign docs = site.software | sort: 'date' | reverse %}

    {% for doc in docs %}
        {% if doc.subcollection == subcollection %}
            <div class="cardPlacement document">
                <div class="cardContainer" id="{{doc.slug}}">
                    <div class="cardTitle">{{doc.title}}</div>

                    <div class="cardLink">
                        {% if doc.internal-link != 'none' %}
                            <a href="{{site.baseurl}}/{{doc.internal-link}}" target="_blank">{{doc.internal-cta}}</a>
                        {% endif %}

                        {% if doc.external-link != 'none' %}
                            <a href="{{doc.external-link}}" target="_blank">{{doc.external-cta}}</a>
                        {% endif %}
                    </div>

                    <div class="cardTags">{{doc.tags}}</div>
                    <div class="cardDesc">{{doc.description}}</div>

                    {% if doc.licence == 'ccsa4' %}
                        <div class="cardLicence"><a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></div>
                    {% elsif doc.licence == 'pd' %}
                        <div class="cardLicence"><a href="http://creativecommons.org/publicdomain/zero/1.0/">Public domain</a></div>
                    {% else %}
                        <div class="cardLicence">Licence under evaluation</div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endfor %}