---
title: "Written Word"
---

{% assign subcollections = "Nonfiction,Game-related,Fanfiction" | split: ',' %}

{% for subcollection in subcollections %}
<h2>{{subcollection}}</h2>
    {% assign docs = site.written-word | sort: 'date' | reverse %}
    {% for doc in docs %}
        {% if doc.subcollection == subcollection %}
            <div class="documentContainer" id="{{doc.slug}}">
                <div class="docTitle">{{doc.title}}</div>
                <div class="docLink">
                    <a href="{{site.baseurl}}/assets/docs/{{doc.internal-link}}" target="_blank">{{doc.internal-cta}}</a>
                    {% if doc.external-link != 'none' %}
                        &nbsp;&nbsp;&nbsp;
                        <a href="{{doc.external-link}}" target="_blank">{{doc.external-cta}}</a>
                    {% endif %}
                </div>
                <div class="docTags">{{doc.tags}}</div>
                <div class="docDesc">{{doc.description}}</div>
                <div class="docLicence"><a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}