html {
  height: 100%;
}
body {
  background-color: #2F3129;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}
body #navbar {
  white-space: nowrap;
  overflow: hidden;
  z-index: 15;
  background-color: #1F201C;
}
body #navbar .navbarIcon {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  width: 50px;
  margin: 10px 0 10px 12px;
}
body #navbar .navbarText {
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  font-size: 1.5em;
  height: 50px;
  margin: 10px 0 10px 40px;
}
body #navbar .navbarText span {
  vertical-align: middle;
}
body #navbar .navbarVerticalDivider {
  width: 75px;
  text-align: center;
  margin: 20px 0;
}
body #navbar svg {
  width: 50px;
  height: 50px;
}
body #navbar svg path {
  fill: #ffffff;
}
body #navbar a {
  color: #ffffff;
}
body #header {
  margin-left: 75px;
  padding-left: 25px;
  font-size: 1.5em;
  line-height: 50px;
  background: linear-gradient(to right,#1F201C,#2F3129,#2F3129);
}
body #header span {
  vertical-align: middle;
}
body #header h1 {
  font-size: 18px;
  margin: 0;
}
body #content {
  min-height: calc(100% - 130px);
  padding: 15px 0 15px 15px;
  margin-left: 75px;
}
body #content .imgPlacement {
  float: left;
  width: 170px;
  height: 243px;
  margin: 20px 10px 0 0;
  position: relative;
}
body #content .imgPlacement.hovering .imgContainer {
  box-shadow: 0 0 10px 5px #606556;
  height: auto;
}
body #content .imgPlacement.hovering .imgDesc {
  height: auto;
}
body #content .imgContainer {
  border: 1px solid #606556;
  background-color: #2F3129;
  width: 160px;
  height: 243px;
  padding: 5px;
}
body #content .imgTitle,
body #content .imgDesc,
body #content .imgLicence {
  position: relative;
  text-align: center;
  width: 162px;
}
body #content .imgTitle {
  font-weight: 700;
}
body #content .imgDesc {
  min-height: 3.2em;
  height: 3.2em;
  overflow: hidden;
  background-color: #2F3129;
}
body #content .imgLicence {
  background-color: #2F3129;
}
body #content .documentContainer {
  display: inline-block;
  width: 300px;
  height: 175px;
  float: left;
  padding: 5px;
  margin: 7px 5px 0 0;
  border: 1px solid #606556;
}
body #content .documentContainer.hovering {
  box-shadow: 0 0 10px 5px #606556;
}
body #content .documentContainer.hovering .docDesc {
  height: auto;
}
body #content .documentContainer .docTitle {
  position: relative;
  text-align: center;
  font-weight: 700;
  height: 2.5em;
}
body #content .documentContainer .docTags {
  height: 2.5em;
  font-style: italic;
}
body #content .documentContainer .docDesc {
  position: relative;
  padding: 5px 0;
  min-height: 4.2em;
  height: 4.3em;
  overflow: hidden;
  background-color: #2F3129;
  z-index: 10;
}
body #content .documentContainer .docLink a:nth-child(n+2) {
  margin-left: 20px;
}
body #content .documentContainer .docLicence {
  background-color: #2F3129;
  z-index: 10;
}
body #content h1,
body #content h2 {
  clear: both;
  margin: 0;
  padding: 20px 0 15px 0;
}
body #content .blogTitle {
  padding-bottom: 0;
}
body #content .blogDate {
  margin-bottom: 10px;
  font-size: 0.8em;
}
body #footer {
  margin-left: 75px;
  clear: both;
  padding-left: 25px;
  font-size: 0.8em;
  line-height: 50px;
  background: linear-gradient(to right,#1F201C,#2F3129,#2F3129);
}
body #footer span {
  margin-right: 15px;
}
a {
  color: #9999ff;
  text-decoration: none;
}
.autofold {
  position: fixed;
  width: 75px;
  height: 100%;
}
.autofold:hover {
  min-width: 75px;
  width: 300px;
}
