@colorLightBackground = #2F3129;
@colorDarkBackground  = #1F201C;
@colorHyperlink       = #9999ff;
@colorNormalText      = #ffffff;
@colorWhite           = #ffffff;

@minWidthAutofold = 75px;

body {
    background-color: @colorLightBackground;
    color: @colorNormalText;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;

    #header,
    #content,
    #footer {
        margin-left: @minWidthAutofold;
    }

    #navbar {
        white-space: nowrap;
        overflow: hidden;
        background-color: @colorDarkBackground;

        .navbarIcon {
            display: inline-block;
            vertical-align: top;
            height: 50px;
            width: 50px;
        }

        .navbarText {
            display: inline-block;
            vertical-align: top;
            line-height: 50px;
            font-size: 1.5em;
            height: 50px;
            margin-left: 25px;

            span {
                vertical-align: middle;
            }
        }

        svg {
            width: 50px;
            height: 50px;

            path {
                fill: @colorWhite;
            }
        }
    }
}

a {
    color: @colorHyperlink;
    text-decoration: none;
}

.autofold {
    position: fixed;
    width: @minWidthAutofold;
    height: 100%;

    &:hover {
        min-width: @minWidthAutofold;
        width: 20%;
    }
}