body {
    background-color: #2F3129;
    color: #ffffff;
    padding: 0;
    margin: 0;

    #header,
    #content,
    #footer {
        margin-left: 75px;
    }
}

a {
    color: #9999ff;
    text-decoration: none;
}

.autofold {
    position: fixed;
    width: 75px;
    height: 100%;
    background-color: #1F201C;

    &:hover {
        min-width: 75px;
        width: 20%;
    }
}